/* Style file created by Connor
===============================
00: css variable
01: color
02: layout
03: typography
04: transition, animation, selector practice
05: Any exploration
===============================
*/

/** 00 css variable **/
:root {
    --body-color: hsl(0, 0%, 50%);
    --page-color: hsla(30, 32%, 88%, 0.8);
    --sidebar-color: hsl(0, 100%, 50%);
    --page-width: 16vw;
    --page-top: 10vw;
}

/** 01 color **/
body {
    background-color: var(--body-color);
}
#zen-intro {
    background-color: var(--page-color);
}
.sidebar {
    background-color: var(--sidebar-color);
}
/** h1 **/
h1 {
    color: hsl(200, 100%, 50%);
}
    /** 02 layout **/
    div.explanation, div.requirements {
    position:fixed;
    width:var(--page-width);
    top:var(--page-top);
}

div.explanation {
    left: 1vw;
}
div.requirements {
    left: 18vw;
}